// Company Colors.
$primary: rgb(34, 45, 87);
$secondary: rgb(77, 84, 112);
$tertiary: rgb(113, 123, 163);

// Opacity.
$default: rgb(56, 66, 102);
$_90: rgb(77, 87, 119);
$_80: rgb(100, 108, 136);
$_70: rgb(122, 129, 153);
$_60: rgb(144, 150, 170);
$_50: rgb(166, 171, 187);
$_40: rgb(188, 192, 204);
$_30: rgb(211, 213, 221);
$_20: rgb(232, 234, 238);
$_10: rgb(255, 255, 255);

// Ribbon Colors.
$ribbon_white: rgb(251, 251, 251);
$ribbon_yellow: rgb(235, 235, 99);
$ribbon_red: rgb(152, 63, 63);
$ribbon_blue: rgb(62, 107, 147);
$ribbon_black: rgb(41, 41, 41);
$ribbon_silver: rgb(151, 151, 151);
$ribbon_gold: rgb(219, 174, 59);
